@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "VT323", monospace;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.squareContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5rem 5rem;
  border: 2px solid magenta;
  background-color: lime;
  padding: 2rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  border: 2px solid magenta;
  width: 100%;
}
.squareButton {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  font-size: 8rem;
  color: rgb(45, 48, 71);
}
.squareButton:disabled:hover {
  background-color: transparent;
}
.squareButton:hover {
  background-color: magenta;
}
.winnerWinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: lime;
  font-size: 10rem;
}
.resetButton {
  background-color: lime;
  color: black;
  width: 8rem;
  height: 6rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.resetButton:hover {
  background-color: black;
  color: lime;
}
.nudgeMe {
  margin: auto;
}
